body {
    font-family: 'Roboto', sans-serif; /* Menggunakan font Roboto */
    margin: 0;
    padding: 0;
    background-color: #4a5a69; /* Warna latar belakang */
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section#kontak {
    padding: 20px;
    background-color: #a75959; /* Warna latar belakang */
    text-align: center;
    border-radius: 20px; /* Border radius yang lebih besar */
    box-shadow: 0 4px 6px rgba(238, 224, 224, 0.1); /* Bayangan yang lebih halus */
}

h2 {
    color: #ebe5e5;
    margin-bottom: 20px;
    font-style: italic;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 12px; /* Padding yang lebih besar */
    margin: 10px 0; /* Margin yang lebih besar */
    border: 2px solid #53616e; /* Border yang lebih tebal */
    border-radius: 8px; /* Border radius yang lebih besar */
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #28a745; /* Warna hijau */
    color: #fff; /* Warna teks putih */
    padding: 14px 18px; /* Padding yang lebih besar */
    border: none;
    border-radius: 8px; /* Border radius yang lebih besar */
    cursor: pointer;
    text-align: center;
    display: block;
    width: 100%; /* Lebar penuh */
    font-size: 16px; /* Ukuran teks yang lebih besar */
    transition: background-color 0.3s ease; /* Transisi hover yang lebih halus */
}

input[type="submit"]:hover {
    background-color: #218838; /* Warna hijau yang lebih gelap saat hover */
}


.toast {
    visibility: hidden;
    background-color: #0f2710; /* Warna hijau */
    color: white;
    text-align: center;
    border-radius: 30px; /* Border radius yang lebih besar untuk tampilan yang lebih lucu */
    padding: 15px; /* Padding yang lebih besar untuk tampilan yang lebih menonjol */
    position: fixed;
    z-index: 1;
    left: 50%; /* Posisi horizontal di tengah */
    transform: translateX(-50%) translateY(-100%); /* Memusatkan horizontal dan menggeser ke atas */
    top: 20px; /* Mengatur posisi pojok atas */
    transition: transform 0.5s ease-in-out; /* Efek transisi untuk transformasi */
    display: flex;
    align-items: center; /* Posisikan ikon di tengah vertikal */
}

.toast.show {
    visibility: visible;
    transform: translateX(-50%) translateY(0); /* Menggeser kembali ke posisi asli */
}

.toast.success {
    background-color: #111111; /* Warna hijau yang lebih cerah */
}

.toast.error {
    background-color: #dc3545; /* Warna merah untuk pesan kesalahan */
}

.toast .icon {
    margin-right: 10px; /* Ruang antara ikon dan teks */
    font-size: 20px; /* Ukuran ikon */
    
}

footer {
    text-align: center; /* Teks akan diatur ke tengah */
    padding: 20px 0; /* Padding atas dan bawah */
    background-color: #141414; /* Warna latar belakang */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #ccc; /* Garis atas */
}


footer p {
    margin: 0; /* Menghilangkan margin bawaan */
    font-size: 14px; /* Ukuran teks */
    color: #ffffff;
    font-weight: bold;
}


